@import "./partials/resets.css";
@import "./partials/variables.css";
@import "./partials/base.css";
@import "./partials/fonts.css";
@import "./partials/typography.css";
@import "./partials/theme-toggle.css"; /* Dark vs Light -mode */
@import "./partials/header.css";
@import "./partials/hero.css";
@import "./partials/about.css";
@import "./partials/tech-stack.css";
@import "./partials/projects.css";
@import "./partials/footer.css";

/* Page Specific */
body.contact main {
  text-align: center;
}

body.contact main h1 {
  margin-bottom: 0;
}

body.contact main p {
  margin-top: var(--spacing-sm);
}

body.contact main h1,
body.contact main p {
  font-weight: 600;
}
