.technologies .page-title {
  margin-bottom: 0;
}

section.technologies ul,
section.tech-tools ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: calc(var(--spacing-md) * 1.5);
}

section.technologies {
  margin-top: var(--spacing-xl);
}

section.tech-tools {
  margin-top: calc(var(--spacing-xl) * 1.5);
}

section.technologies ul {
  margin-top: var(--spacing-xl);
}

section.technologies ul li img,
section.tech-tools ul li img  {
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin-inline : auto;
}

/* Mobile Down */
@media (width < 37.5rem) {
  section.technologies ul li img,
  section.tech-tools ul li img  {
    width: 85px;
  }

  section.technologies ul li,
  section.tech-tools ul li {
    flex-basis: calc(100% / 3);
  }

  section.technologies ul li:nth-child(3n + 1) img,
  section.tech-tools ul li:nth-child(3n + 1) img {
    margin-left: 0;
  }

  section.technologies ul li:nth-child(3n) img,
  section.tech-tools ul li:nth-child(3n) img {
    margin-right: 0;
  }
}

/* Mobile Up */
@media (width < 56rem) and (width >= 37.5rem) {
  section.technologies ul li img,
  section.tech-tools ul li img  {
    width: 95px;
  }

  section.technologies ul li,
  section.tech-tools ul li {
    flex-basis: calc(100% / 4);
  }

  section.technologies ul li:nth-child(4n + 1) img,
  section.tech-tools ul li:nth-child(4n + 1) img {
    margin-right: auto;
    margin-left: 0;
  }

  section.technologies ul li:nth-child(4n + 2) img,
  section.tech-tools ul li:nth-child(4n + 2) img {
    margin-right: auto;
    margin-left: 15%;
  }

  section.technologies ul li:nth-child(4n) img,
  section.tech-tools ul li:nth-child(4n) img {
    margin-right: 0;
    margin-left: auto;
  }

  section.technologies ul li:nth-child(4n + 3) img,
  section.tech-tools ul li:nth-child(4n + 3) img {
    margin-right: 15%;
    margin-left: auto;
  }
}

/* Tablet Up */
@media (width >= 56rem) {
  section.technologies ul li img,
  section.tech-tools ul li img  {
    width: 105px;
  }

  section.technologies ul li,
  section.tech-tools ul li {
    flex-basis: calc(100% / 6);
  }

  section.technologies ul li img,
  section.tech-tools ul li img {
    margin-right: auto;
    margin-left: auto;
  }

  section.technologies ul li:nth-child(6n + 1) img,
  section.tech-tools ul li:nth-child(6n + 1) img {
    margin-right: auto;
    margin-left: 0;
  }

  section.technologies ul li:nth-child(6n + 2) img,
  section.tech-tools ul li:nth-child(6n + 2) img {
    margin-right: auto;
    margin-left: 9%;
  }

  section.technologies ul li:nth-child(6n) img,
  section.tech-tools ul li:nth-child(6n) img {
    margin-right: 0;
    margin-left: auto;
  }

  section.technologies ul li:nth-child(6n + 5) img,
  section.tech-tools ul li:nth-child(6n + 5) img {
    margin-right: 9%;
    margin-left: auto;
  }
}
